<div class="row">
  <div class="col-2 ">
    <app-home></app-home>

  </div>


  <div class="col-sm-6 bg-light p-3 border ">
    <marquee width="100%" direction="left" height="100px">
      মেম্বারশিপ গ্রহণ করলেই পাবেন ৫% ছাড়!!
    </marquee>
    <h2 style="text-align: center;">Add Coustomer Page</h2>
    <form>
      <div class="form-group">
        <label for="name">Coustomer Name</label>
        <input type="name" class="form-control" id="name" placeholder="Enter Coustomer Name">
      </div>
      <div class="form-group">
        <label for="email">Coustomer Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Coustomer Email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Coustomer Phone</label>
        <input type="number" class="form-control" id="phone" placeholder="Enter Coustomer Phone">
      </div>
      <div class="form-group">
        <label for="address">Coustomer Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Coustomer Address">
      </div>

      <div class="text-center" style="padding-top: 10px;">
        <button type="submit" class="btn btn-primary " (click)="add()">Add Customer</button>
      </div>


    </form>

  </div>
  <div class="col-sm-2 ">

</div>
</div>