
  <p>
    <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="bi bi-list"></i>
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
<!-- icon nav start -->
<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">



  <div class="dropdown border-top">
    <a href="Reports" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      Reports
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">Sales Summary</a></li>
      <li><a class="dropdown-item" href="#">Sales By Item</a></li>
      <li><a class="dropdown-item" href="#">Sales By Category</a></li>
      <li><a class="dropdown-item" href="#">Sales By Emloyee</a></li>
      <li><a class="dropdown-item" href="#">Sales By Payment Type</a></li>
      <li><a class="dropdown-item" href="#">Recipts</a></li>
      <li><a class="dropdown-item" href="#">Sales By Modifier</a></li>
      <li><a class="dropdown-item" href="#">Discount</a></li>
      <li><a class="dropdown-item" href="#">Taxes</a></li>
    </ul>
  </div>


  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
    Items
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" routerLink="/addProduct">Add Items</a></li>
      <li><a class="dropdown-item" routerLink="/showproduct">Items List</a></li>
      <li><a class="dropdown-item" href="#">Categories</a></li>
      <li><a class="dropdown-item" href="#">Modifiers</a></li>
      <li><a class="dropdown-item" href="#">Discount</a></li>
    </ul>
  </div>

  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      Inventory
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">Inventory</a></li>
    </ul>
  </div>

  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      Employees
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">Employee List</a></li>
      <li><a class="dropdown-item" href="#">Access Right</a></li>

    </ul>
  </div>

  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      Customer
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">Add Customer</a></li>
      <li><a class="dropdown-item" href="#">Import Customer</a></li>
    </ul>
  </div>



  </ul>
</div>
    </div>


     