.calcu{
    background-color: rgb(244, 252, 183);
    border-radius: 10px;
}
.row1{
    background-color: rgb(250, 237, 180);
    padding-top: 10px;
    border-radius: 10px;
}
.row2{
    background-color: rgb(182, 250, 180);
    padding-top: 10px;
    border-radius: 10px;
}